body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.dl-horizontal dt {
    white-space: normal;
}


textarea {
    max-width: 280px;
}

/*My CSS*/
body {
    background-color: #040b49;
}

.navbar-inverse {
    background-color: cadetblue;
    border-color: #5a5a5a;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
}

.navbar .navbar-inverse .navbar-fixed-top {
    background-color: cadetblue;
    border-color: #5a5a5a;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #5a5a5a;
        background-color: #fff;
    }

.navbar-inverse .navbar-brand {
    color: black;
}

    .navbar-inverse .navbar-brand:hover {
        color: #5a5a5a;
        background-color: #fff;
    }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #5a5a5a;
}

/*Course layout*/
.course {
    list-style: none;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course > li .date {
            text-align: center;
            background-color: cadetblue;
            color: black;
            width: 60px;
            border-radius: 8px;
        }

        .course > li .details {
            position: absolute;
            top: 0;
            left: 70px;
        }

        .course > li .lecture {
            font-size: 17px;
        }

        .course > li .category {
            font-size: 13px;
            font-style: oblique;
        }

        .course > li .action {
            display: none;
            left: 70px;
            position: absolute;
        }

        .course > li:hover .action {
            display: block;
        }
